#logo{
    max-width: 7%;
    height: auto;
}

#creer-tournoi{
    max-width: 75%;
    margin:auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

form{
    max-width: 75%;
    margin:auto;
    margin-bottom: 2%;
    margin-top: 2%;
}
.btn{
    margin-top : 1%;
    margin-bottom: 1%;
}

.suppr{
    float: right;
    margin: auto;
}

.msg_erreur{
    color: red;
    font-weight : bold;
    border-width:1px;
    border-style:double;
    border-color:red;
    max-width: 75%;
    margin: auto;
}

.joueurspoules{
    display: inline-block;
}

.droite{
    float: right;
    width: 100%;
}

.gauche{
    float: left;
    width: 100%;
}

.footer{
    float: bottom;
}

.j1{
    float: left;
    width: 45%;
}

.j2{
    float: right;
    width: 45%;
}

.match{
    display: inline-block;
}

.match0{
    display: flex;
    flex-direction: column;
}

.joueurs{
    justify-content: space-between;
}

/*AFFICHAGE DES POULES*/
table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #777777;
    color: white;
}

.titre-tab{
    text-align: center;
    color: black;
    background-color: white;
}

.lancer{
    float: left;
}

.poule{
    margin-left: auto;
    margin-right: auto;
    margin-top : 1%;
    margin-bottom: 1%;
}

.poulesAvantTableau{
    display: flex;
}

.pass{
    float: right;
}