{% extends 'base.html.twig' %}

{% block body %}
    <div class="match0">
        <div class="joueurs0">
            <div class="j1">
                Mark
            </div>
            <div class="j2">
                Larry
            </div>
        </div>
        <div class="tab">
            <svg height="100" width="100">
                <polyline points="0,0 50,0" fill="white" stroke="black" stroke-width="2"/>
                <polyline points="50,0 50,100" fill="white" stroke="black" stroke-width="1"/>
                <polyline points="0,100 50,100" fill="white" stroke="black" stroke-width="2"/>
                <polyline points="50,50 100,50" fill="white" stroke="black" stroke-width="1"/>
            </svg>
        </div>
    </div>

    <div class="match01">
        <div class="joueurs0">
            <div class="j1">
                Mark
            </div>
            <div class="j2">
                Larry
            </div>
        </div>
        <div class="tab">
            <svg height="100" width="100">
                <polyline points="0,0 50,0" fill="white" stroke="black" stroke-width="2"/>
                <polyline points="50,0 50,100" fill="white" stroke="black" stroke-width="1"/>
                <polyline points="0,100 50,100" fill="white" stroke="black" stroke-width="2"/>
                <polyline points="50,50 100,50" fill="white" stroke="black" stroke-width="1"/>
            </svg>
        </div>
    </div>

    <div class="match10">
        <div class="joueurs0">
            <div class="j1">
                Mark
            </div>
            <div class="j2">
                Michel
            </div>
        </div>
        <div class="tab">
            <svg height="150" width="100">
                <polyline points="0,0 50,0" fill="white" stroke="black" stroke-width="2"/>
                <polyline points="50,0 50,150" fill="white" stroke="black" stroke-width="1"/>
                <polyline points="0,150 50,150" fill="white" stroke="black" stroke-width="2"/>
                <polyline points="50,75 100,75" fill="white" stroke="black" stroke-width="1"/>
            </svg>
        </div>
    </div>

{% endblock %}


{% block title %}

{% endblock %}

