{% extends 'base.html.twig' %}

{% block autres_head %}

{% endblock %}

{% block body %}
    {% set nbMatchsPrincipale = (principale|length) / 2 %}
    {% set nbJoueursPrincipale = principale|length %}
    {% set it = 0 %}
    <h2>PRINCIPALE</h2>
    <div class="tableau principale">
        <div class="iteration">
            {% for i in 0..nbMatchsPrincipale-1 %}
                <div class="match">
                    <div class="j jt1">
                        {{ principale[0+i] }}
                        {% if principale[0+i].id != -1 %}
                            <a href="{{ path('qualif', {'id_joueur': principale[0+i].id, 'id_adversaire' : principale[nbJoueursPrincipale-1-i].id}) }}">
                                <button class="btn-sm btn-primary pass">></button>
                            </a>
                        {% endif %}
                    </div>
                    <div class="j jt2">
                        {{ principale[nbJoueursPrincipale-1-i] }}
                        {% if principale[nbJoueursPrincipale-1-i].id != -1 %}
                        <a href="{{ path('qualif', {'id_joueur': principale[nbJoueursPrincipale-1-i].id, 'id_adversaire' : principale[0+i].id}) }}">
                            <button class="btn-sm btn-primary pass">></button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <hr>
    <h2>CONSOLANTE</h2>

{% endblock %}


{% block title %}

{% endblock %}

